<?xml version="1.0" ?>

<robot name="kobuki_gazebo" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="kobuki_gazebo" params="lidar camera">

  <gazebo>
    <plugin filename="gz-sim-diff-drive-system" name="gz::sim::systems::DiffDrive">
      <left_joint>wheel_left_joint</left_joint>
      <right_joint>wheel_right_joint</right_joint>
      <wheel_separation>0.223087</wheel_separation>
      <wheel_radius>0.035</wheel_radius>
      <max_linear_acceleration>1.0</max_linear_acceleration> 
      <topic>cmd_vel</topic>
      <child_frame_id>base_footprint</child_frame_id>
      <odom_publisher_frequency>30</odom_publisher_frequency>
      <tf_topic>/tf</tf_topic>
    </plugin>
  </gazebo>

    <xacro:if value="$(arg lidar)">
        <sensor name="kobuki_lidar" type="gpu_lidar">
            <always_on>true</always_on>
            <visualize>true</visualize>
            <pose>0 0 0 0 0 0</pose>
            <update_rate>5</update_rate>
            <topic>scan_raw</topic>
            <gz_frame_id>laser_link</gz_frame_id>
            <lidar>
                <ray>
                    <scan>
                      <horizontal>
                        <samples>360</samples>
                        <resolution>1.000000</resolution>
                        <min_angle>0.000000</min_angle>
                        <max_angle>6.280000</max_angle>
                      </horizontal>
                    </scan>
                    <range>
                      <min>0.17</min>
                      <max>3.5</max>
                      <resolution>0.015000</resolution>
                    </range>
                    <noise>
                      <type>gaussian</type>
                      <mean>0.0</mean>
                      <stddev>0.01</stddev>
                    </noise>
                  </ray>
            </lidar>
          </sensor>
    </xacro:if>

    <!-- <xacro:if value="$(camera)">
      
    </xacro:if> -->
    

  </xacro:macro>
</robot>
